html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: sans-serif;
}
body {
  background-color: #333;
  color: #eee;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1 {
  font-weight: normal;
  font-size: 2em;
}
h2 {
  font-weight: normal;
  font-size: 1.5em;
}
nav {
  box-sizing: border-box;
  padding: 0.5em;
  display: block;
  height: 80px;
  position: relative;
}
nav h2 {
  font-size: 0.8em;
}
button {
  font-size: inherit;
}
#kitty_map {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
}
.kitty-list {
  margin: 0;
  padding: 0;
}
.kitty-list .kitty {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-image: url(kitty.png);
  width: 24px;
  height: 24px;
  background-size:100%;
  float: left;
  transition-property: -webkit-transform;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(.5,3,.5,.5);
}
.kitty-list .kitty:hover {
  position:relative;
  z-index:1;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
  -webkit-transform: scale(1.33,1.33);
}
.kitty-reticule {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 20%;
  height: 20%;
  border: 1px solid #fff;
  box-shadow: 0 0 40px 20px rgba(0,0,0,0.4);
  pointer-events: none;
}
